127.0.0.1   localhost localhost.localdomain localhost4 localhost4.localdomain4
::1         localhost localhost.localdomain localhost6 localhost6.localdomain6
{{mongodb_primary_ip}} {{mongodb_primary_host}}
{{mongodb_secondary_ip}} {{mongodb_secondary_host}}
{{mongodb_arbiter_ip}} {{mongodb_arbiter_host}}
